html{
    background-image: url(img/login-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.padding-10{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

@media only print {
    header{display: none !important;}
    aside {display: none !important;}
    .range {display: none !important;}
    #main-content { margin: 0 !important;}
    #main-content .wrapper { margin: 0 !important; padding: 10px !important;}

}

/*@media print{*/
    /*input.noPrint{display: none}*/
/*}*/

@page{
    size: auto;
    margin: 0mm;
}